<template name="contact_us">
	<form action="#" class="contact">
		<div class="box">
			<h1> Request some new feature or share your feedback !</h1>
			<label for="email_id">
				<span> Your Email Id :</span>
				<input name="email_id" class="input_text email_id" type="email" placeholder="Email Address"><br/>
			</label>

			<label for="subject">
				<span>Subject :</span>
				<input type="text" name="subject" class="input_text email_subject" placeholder="Subject" > <br/>
			</label>

			<label for="message">
				<span>Message :</span>
				<input name="message" class="message" type="text">
			</label>
			<label>
				<input type="button" value="Send Message" class="button submit_mail">		
			</label>
		</div>
	</form>
</template>