<template name="create">
	
	<span class="noteLabel">Drag the notes from here --> </span><div class="drag" draggable=true></div>
	
	<div id="notation">
		
		<div id="swars_list" class="all">
			
			<div class="container">
				<div class="swars">Sa</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
			
			<div class="container">
				<div class="swars">re</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
			
			<div class="container">
				<div class="swars">Re</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>

			<div class="container">
				<div class="swars">ga</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>

			<div class="container">
				<div class="swars">Ga</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>

			<div class="container">
				<div class="swars">ma</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>

			<div class="container">
				<div class="swars">Ma</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
			
			<div class="container">
				<div class="swars">Pa</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>

			<div class="container">
				<div class="swars">dha</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
			
			<div class="container">
				<div class="swars">Dha</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
			
			<div class="container">
				<div class="swars">ni</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
			
			<div class="container">
				<div class="swars">Ni</div>
				<div class="input swars"></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!-- <div id="composition" class="drop"></div> -->
	<div id="timeruler" class="ruler">
		<div class="time">1</div>
		<div class="time">2</div>
		<div class="time">3</div>
		<div class="time">4</div>
		<div class="time">5</div>
		<div class="time">6</div>
		<div class="time">7</div>
		<div class="time">8</div>
		<div class="time">9</div>
		<div class="time">10</div>
	</div>
	<!-- <span class="timeLabel">Drag the time for timeruler from here -->  
	<!-- <div class="drag" draggable=true></div> -->
	
	<!-- This portion is basicallly used to insert the name of the song and play the song -->
	<div id="nameForm" class="nameForm box">
		<h1>Play and Save Music</h1>
		<label>
			<span>Hit The music Icon : </span>
			<input type="image" id="play" class="playbutton centered" src="playBtn.png">
		</label>
		<label>
			<span>Name For Music : </span>
			<input type="text" id="name_music" class="name input_text">
			<input type="image" id="save" class="savebutton centered" src="ok.png">	
		</label>
		<label>
		</label>
	</div>
</template>